path {
    stroke: #777;
    stroke-width: 1.0;
    fill: #aaa;
    fill-opacity: 0.75;
}



path:hover {
    fill: brown;
    stroke: #4684B5 !important;
    cursor: pointer;
    stroke-width: 3.0 !important;
    fill-opacity: 0.95 !important;
}

.map-tooltip {
    width:100px;
    height: 70px;
    border-radius: 6px;
    background-color: white;
    border: 1px solid #333;

}

.label {
    font-size: 12px;
}


    


